.wordbox {
  display: inline-block;
  position: relative;
  padding: 15px;
  margin: 4px;
  background-color: #40b9ff;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 16px;
  border-radius: 8px;
  z-index: 1;
}

.wordbox--mistake {
  background-color: #e64747;
  color: white;
}

.notActive {
  background-color: #40b9ff91;
  color: rgba(255, 255, 255, 0.7);
}

.active {
  border: 3px solid #0075b8;
  font-size: 40px;
  padding: 25px;
  color: rgb(57, 57, 57)
}