.container-game {
    background-color: white;
    width: 100%;
    display: flex;
}


.game {
    border: 1px solid #ccc;
}

h2 {
    border-bottom: 1px solid #ccc;
    padding: 1rem;
    margin: 0;
}

.content {
    padding: 1rem;
}